* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: grey ;
}
.app{
    font-family:"Poppins", sans-serif;
    width: min(95vw, 500px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 1.875em;
}
.container{
    margin-top: 100px;
    padding: 2em 2.5em;
    background-color: white;
    box-shadow: 0 1em 2em black(0, 0, 0, 0.3);
    border-radius: 0.8em;
}
#wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
    
}
#wrapper input{
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 1em 0.5em;
}
#wrapper input:focus{
    outline: none;
    border-color: #5a95ff;
}
#wrapper button{
    position: relative;
    border-radius: 0.5em;
    font-weight: 1em;
    background-color: #5a95ff;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}
#error{
    text-align: center;
    background-color: #ffffff;
    color: #ff5c5c;
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 0.8em;
    display: none;
}